<html>
    <head>
        <title>Mencari Jarak</title>
    </head>
    <body>
            <div id="app">
                    Dari
                    <input type="text" v-model="dari">
                    <br>
                    Ke
                    <input type="text" v-model="ke">
                    <br>
                    <button @click="onButtonPressed">Cari Jarak</button>
                    <template v-if="data">
                    <p>Jarak: {{data.distance.text}}</p>
                    <p>Durasi: {{data.duration.text}}</p>
                    </template>
            </div>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="https://unpkg.com/vue@2.5.6/dist/vue.js"></script>
            <script>
                new Vue({
                el: '#app',
                data: {
                    endpoint: 'https://maps.googleapis.com/maps/api/distancematrix/json',
                    key: 'AIzaSyDteT4he2sgw-Bkf9mR-kVHg7hl6VGdv4E',
                    dari: '',
                    ke: '',
                    data: null,
                },
                methods:{
                    onButtonPressed(){
                        axios.get(this.endpoint, {
                            params: {
                                origins: this.dari.replace(/\s/g, '+'),
                                destinations: this.ke.replace(/\s/g, '+'),
                                key: this.key
                            }
                        })
                        .then(response => {
                            if(response.status === 200 && response.data.status === 'OK'){
                                this.data = response.data.rows[0].elements[0]
                            }
                        })
                        .catch(error => {
                            console.log(error)
                        })
                    }
                }
            })
            </script>
    </body>
</html>