@charset "utf-8";
/* CSS Document */
body {
	margin:0;
}

h1 {
	font-family:"Lucida Console", Monaco, monospace;
    color: navy;
	text-align:center;
	font-size:70px;
}

.header {
    background-color: #0080C0;
    padding: 20px 0px;
    width:100%;
}

.navbar{
overflow:hidden;
    float:left;
    width:30%;
    height:617px;
    background-color: #07709F;/*Biru*/ 
}

navbar, ul li{
	list-style-type:none;
}

.navbar a{
	font-family:"Courier New", Courier;
	color:#f2f2f2;
	display:block;
	padding: 14px 16px; /*top & bottom paddings are 14px right and left paddings are 16px*/
	border-right:none;
	text-decoration:none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(129, 128, 130, 0.5);
}

.dropbtn{
	margin-right:10px;
}
.dropdown-content {
    display: none;
	position:absolute;
    background-color: #f1f1f1;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-right:16px;	
	padding: 12px 0px;
	right:0;
	float:right;
}

.dropdown-content a {
	color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #ddd}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}

.show {display:block;}

.t1{font-size:14px;}
.t2{font-size:20px;width:200px;}
.t3{font-size:23px;color:white;	font-family:"Lucida Console", Monaco, monospace;}
.t4{font-size:16px;color:white;}
.text-navbar{margin-top:6px;margin-left:40px;}


/*Style buat Box*/
.boxstyle1 {
	margin-bottom:10px;
	position:relative;
	left: 25%;
	width: 50%;
    background-color: #ff9166;
	border-radius:10px;
    border-left: 7px solid #66FF91;
    padding: 10px;
	z-index:0;
}

.boxstyle11 {
    margin-bottom:10px;
    position:relative;
    left: 25%;
    width: 50%;
    background-color: #ff9166;
    border-radius:10px;
    border-left: 7px solid #ffde66;
    padding: 10px;
    z-index:0;
}

.boxstyle2 {
	position:relative;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
	margin-top: 10px;
	width:50%;
	left:25%;
	top:80px;
	z-index:0;
}

.boxstyle3 {
	position:relative;
	left:50%;
	width:50px;
	height:50px;
	text-align:center;
}
.hoverbutton:hover{
	transition-duration: 0.4s;
}
.hoverbutton a:link{text-decoration:none;color:white;}
.hoverbutton a:visited{text-decoration:none;color:white;}
.hoverbutton a:hover{text-decoration:none;color:Red}
.hoverbutton:hover{text-decoration:none;color:Red;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
.hoverbutton a:active {text-decoration: underline;color:#333}/* selected link */

.boxstyle2 a:link{text-decoration:none;color:Black;}
.boxstyle2 a:visited{text-decoration:none;color:Blue;}
.boxstyle2 a:hover{text-decoration:none;color:Red;}
.boxstyle2 a:active {text-decoration: underline;color:#333}/* selected link */


/* Style the footer */
.footer {
	bottom:0;
	width:100%;
    background-color: #0080C0;
    padding: 10px 0px;
	color:white;
	font-size:24px;
    text-align: center;
}

.inlinedisplay #countdown{
	display:inline-block;
	float:right;
}

/* Create three equal columns that floats next to each other */
.column.content
{	
	overflow:auto;
	background-color: #f1f1f1;
	width: 70%;
	height:617px;
}
.column {
    float: left;
    width: 33%;
    padding: 0px;
}


.column2{
	margin-top:2%;
	text-align:center;
	color:white;
    float: left;
    width: 33%;
}
.column3 {
	margin-top:2%;
	text-align:center;
    float: left;
    width: 33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:600px) {
	.column.content
	{
	width: 100%;
	height:0%;
	overflow:hidden;

	}
    .column {
        width: 100%;
    }
	.column2 {
        width: 100%;
    }
	.column3 {
        width: 100%;
    }
	.navbar{
		width: 100%;
		height:0%;
	}
	.navbar a{
		float:left;
		display:block;
	}
}
.button1{
	border:none;
	text-decoration:none;	
	font-family:'Anton', sans-serif;
	background-color:#008CBA;
	color:white;
	font-size:15px;
	padding:3px 3px;
	border-radius:5px;
	transition-duration: 0.4s;
}

.button1:link{text-decoration:none;color:black;}
.button1:visited{text-decoration:none;color:black;}
.button1:hover{text-decoration:none;color:white;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);}
.button1:active {text-decoration: none;color:black;}/* selected link */
