@charset "utf-8";
/* CSS Document */
body {
	margin:0;
    background-image: url("icon/wallpaperhome.png");
	background-attachment: fixed;
}

h1 {
	font-family:"Lucida Console", Monaco, monospace;
    color: navy;
	text-align:center;
	font-size:70px;
    margin-left: 20px;
}

.fixedposition{
		position:fixed;
}

.navbar{
	margin:0;
    padding: 5px 16px; /*top & bottom paddings are 14px right and left paddings are 16px*/
    overflow: hidden;
    background-color: #0080C0;/*Biru*/
}

.navbar li{
	font-family:"Courier New", Courier;
	font-size:25px;
	float:left;
	margin-top:10px;
	border-right:1px solid #bbb;
}

.navbar li:last-child{
	border-right:none;
}

li a, .dropbtn {
	
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
}

li.dropdown {
    display: inline-block;
}

.t1{
	font-size:14px;	
}

.dropdown-content {
    display: none;
    position: absolute;
	overflow:auto;
    background-color: #f1f1f1;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	right:0;
	margin-right:16px;
	text-align:center
}

.dropdown-content a {
	color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: inline-block;
}

.dropdown-content{
	padding: 12px 0px;

}
.dropdown-content a:hover {
	background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: inline;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}

.relative {
  position:relative;
  left: 25%;
  width: 50%;
}
/*Style buat Box*/
.boxstyle1 {
    background-color: #F93;
    border: 5px solid gray;
    padding: 10px;
    margin: 0px;
}

/* Style the footer */
.footer {
	position:fixed;
	bottom:0;
	width:100%;
    background-color: #0080C0;
    padding: 10px;
	color:white;
	font-size:24px;
    text-align: center;
}

.inlinedisplay #countdown{
	display:inline-block;
	float:right;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    padding: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:700px) {
    .column {
        width: 100%;
    }
}