/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2017, 6:33:57 PM
    Author     : afadh
*/

body {
	margin: 0px;
	border: 0px;
        background-img: url("muka.png");
	background-color: #1bbee3;
	background-repeat: no-repeat; 	
}
form {
	margin-left: 310px;
	height: 60px;
	margin-top: 120px;
	margin-bottom: 10px;
}
#navbar {
	width: 100%;
	background-color:url("muka.png");
	height: 70px;
	opacity: 0.6;
	position: fixed;
}
#text {
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
	font-style: bold;
	color: white;
}
.name {
	width: 30%;
	height: 75%;
	padding: 12px 20px;
	margin: 2px;
	background-color: white;
	border: none;
	font-size: 25px;
}
.button {
	background-color: white;
    border: none;
    color: lightblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 285px;
    cursor: pointer;
}
.password {
	width: 64.2%;
	height: 75%;
	padding: 12px 20px;
	margin: 2px;
	font-size: 29px;
}
.active {
	float: right;
	text-align: right;
	padding-right: 40px;
	padding-top: 20px;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.image {
	height: 100%;
	width: 100%;
}
.lorem {
	font-size: 20px;
}
.text-wrapper {
	position: relative;
}
.text-wrapper h1{
	font-family: 'roboto condensed';
} 
	
