/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2017, 5:55:40 PM
    Author     : Cecep Sutisna
*/

@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #B1CFF3;
}

/*------- SIDEBAR & HEADER -------*/
#sidebar {
	position: fixed;
	width: 200px;
        top: 40px;
	height: 100%;
	padding-top: 35px;
	background: #07709F;
	background-image:url(../../Assets/icon/Building_1.png);
	background-position: 14% 80%;
	background-repeat: no-repeat;
}

#sidebar li {
	color: #fff;
	list-style: none;
	padding: 9px 15px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
	text-decoration:none;
}

#sidebar .select{
	background: #e84f0a;
}

#sidebar li:hover {
	background-color: #519abb; /* Berubah warna ketika kena Mouse */
}

a {
	color: #fff;
	text-decoration: none;
}

.wrapper li {
    position: fixed;
    top: 0%;
    left: 0%;
    color: #fff;
    background-color: #06648f;
    font: sans "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style: none;
    width: 170px;
    padding: 9px 15px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    text-decoration: none;
}

/*-----------------------------*/

#mainPanel h1{
	position: relative;
        left: 5%;
        text-align: center;
}
/*----------------Tabel-----------*/
table {
    border: 3px solid black;
    position:relative;
    left:30%;
    border-collapse:separate;
    width: 53%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #6CF}
tr:nth-child(odd){background-color: #09F}

th {
    background-color: #000;
    color: white; /*Font Color*/
}
tr:hover {background-color: #f5f5f5}

td a {
    color: black;
}

/*FORM*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #09F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6CF;
}

.form {
	position:relative;
	left:30%;
	width:50%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}
	
select {

  /* styling */
  background-color: white;
  border: thin solid gainsboro;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.button1{
	border:none;
	text-decoration:none;
	font-family:'Acme', sans-serif;
	background-color:#aaaaaa;
	font-size:15px;
	padding:3px 3px;
	border-radius:5px;
}

.button1:link{text-decoration:none;color:black;}
.button1:visited{text-decoration:none;color:black;}
.button1:hover{text-decoration:none;color:white;}
.button1:active {text-decoration: none;color:black;}/* selected link */

/* Style the tab */
div.tab {
    position: relative;
    left: 200px;
    width: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}