@charset "utf-8";
/* CSS Document */
body {
	margin:0;
    background-image: url("icon/wallpaperhome.png");
	background-attachment: fixed;
}

h1 {
	font-family:"Lucida Console", Monaco, monospace;
    color: navy;
	text-align:center;
	font-size:70px;
}

.fixedposition{
	position:fixed;
}

.navbar{
	margin:0;
    padding: 5px 16px; /*top & bottom paddings are 14px right and left paddings are 16px*/
    overflow: hidden;
    background-color: #0080C0;/*Biru*/
}

.navbar li{
	font-family:"Courier New", Courier ;
	font-size:25px;
	float:left;
	margin-top:10px;
	border-right:1px solid #bbb;
}

.navbar li:last-child{
	border-right:none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	overflow:auto;
    background-color: #f1f1f1;
    max-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	right:0;
	margin-right:16px;
	text-align:center;		
	padding: 12px 0px;
}

.dropdown-content img{
	border-radius: 50%;
	margin-top:10px;
}

.dropdown-content a {
	color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: inline-block;
}

.dropdown-content a:hover {
	background-color: #ddd}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}

.show {display:inline;}

.t1{font-size:14px;}
.t2{font-size:20px;width:200px;}

.relative {
  position:relative;
  left: 25%;
  width: 50%;
}
/*Style buat Box*/
.boxstyle1 {
    background-color: #F93;
	margin-top: 10px;
    border-left: 5px solid #F00;
	border-bottom:5px solid #FFF;
	border-right:5px solid #F00;
	border-top:5px solid #FFF;	
    padding: 10px;
    margin: 0px;
}

.boxstyle2 {
	position:relative;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
	margin-top: 10px;
	width:50%;
	left:25%;
	top:80px;
}

.boxstyle2 a:link{text-decoration:none;color:Black;}
.boxstyle2 a:visited{text-decoration:none;color:Blue;}
.boxstyle2 a:hover{text-decoration:none;color:Red}
.boxstyle2 a:active {text-decoration: underline;color:#333}/* selected link */


/* Style the footer */
.footer {
	position:fixed;
	bottom:0;
	width:100%;
    background-color: #0080C0;
    padding: 10px;
	color:white;
	font-size:24px;
    text-align: center;
}

.inlinedisplay #countdown{
	display:inline-block;
	float:right;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    padding: 0px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:700px) {
    .column {
        width: 100%;
    }
}